@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    transition: 0.5s ease;
    background-color: #52503B;
}

.topnav_links a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: white;
    text-decoration: none;
    margin: 0 24px;
}

.topnav_button {
    width: 117px;
    height: 42px;
    background-color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #52503B;
}

.step_1 {
    position:static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-image: url(/img/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.step_1 > h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 53px;
    color: white;
    text-align: center;
    max-width: 1174px;
    margin-top: 34px;
}

.step_1 > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin-top: 34px;
}

.step_1_mouse {
    transform: translateY(170px);
}

#mouse_1_scroll {
    position: absolute;
    top: 12px;
    left: 17px;
    transition: 0.5s ease;
}

.step_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    height: 410px;
    background-color: #FAF8F0;
}

.step_line {
    width: 42px;
    height: 8px;
    background-color: #E08631;
    margin-bottom: 32px;
    transition: 0.5s ease;
}

.step_2_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
    gap: 40px;
}

.step_info_h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    max-width: 360px;
}

.step_2_right h2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.step_2_right button {
    width: 107px;
    height: 42px;
    background-color: #52503B;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 52px;
}

.step_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 568px;
}

.step_3 h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;
    max-width: 1287px;
}

.step_3_bg {
    height: 600px;
    background-image: url(/img/bg_2.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.step_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 530px;
    background-color: #FAF8F0;
}

.step_4_header h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #52503B;
}

.step_4_header > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #52503B;
    max-width: 554px;
    margin-top: 14px;
}

.step_4_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 64px;
}

.step_4_content_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step_4_content_box h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    color: #52503B;
    margin-top: 12px;
    margin-bottom: 1px;
}

.step_4_content_box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #52503B;
    max-width: 346px;
}

.step_5 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    height: 726px;
    padding-left: 20%;
}

.step_5_header h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #52503B;   
}

.step_5_header p {
    font-weight: 400;
    line-height: 24px;
    color: #52503B;
    margin-top: 14px;
    max-width: 554px;
}

.step_5_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 32px;
    margin-top: 32px;
}

.step_5_content_box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.step_5_content_box img {margin-right: 16px;}

.step_5_content_box h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #52503B;
}

.step_5_content_box h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}